.chat-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  background:rgba(240,240,240,1);

  .chat-header {
    height: 60px;
    color: #141415;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .251);
    background:rgba(255,255,255,1);
  }

  .chat-main {
    flex: 1;
    border-bottom: 1px solid hsla(0, 0%, 100%, .251);
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;

    .chat-main-inner {
      // overflow: auto;
    }

    .user-msg-box {
      width: 100%;
      padding: 6px;

      .user-message {
        border-radius: 0 6px 6px;
        padding: 2px 4px;

        span {
          // display: inline-block;
          // width: 100%;
          color: white;
          word-break: break-all;
          padding: 0 6px;
          border-radius: 4px;
        }
      }
    }

    .right {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      .user-title {
        align-self: flex-end;
        color:rgba(119,122,139,1);
      }
      .user-message {
        span {
          background: rgba(0, 119, 255, .9);
          float: right;
        }
      }
    }

    .left {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      .user-message {
        span {
          background:rgba(255,255,255,1);
          color:rgba(20,20,21,1);
          float: left;
        }
      }
    }
  }

  .chat-footer {
    height: 100px;
    position: relative;
    margin-bottom: 10px;
    >div {
      background:rgba(249,250,253,1);
      padding: 10px;
      height: 100%;
      overflow: auto;
    }

    .chat-send {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  .scroll {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 5px rgba(212, 212, 212, 1);
      background:rgba(212, 212, 212, 1);
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(212, 212, 212, 1);;
      border-radius: 0;
      background: transparent;
    }
  }
}