.room-info{
  padding-left: 20px;
  span{
    color: #b4b4bb;
    line-height: 30px;
  }
}
.room-action{
  padding-right: 10px;
  display: flex;
  .action-wrap{
    margin-right: 10px;
  }
}

.ant-drawer-body{
  height: 100%;
  padding: 0;
  overflow: hidden;
}
.ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component{
  top: 6px;
}