.room-info{
  padding-left: 20px;
  span{
    color: #b4b4bb;
    line-height: 30px;
  }
}
.room-action{
  padding-right: 10px;
  display: flex;
  .action-wrap{
    margin-right: 10px;
  }
}

.ant-drawer-body{
  height: 100%;
  padding: 0;
}