
.file-list{
  // position: fixed;
  // right: 0;
  // top: 0;
  height: 100%;
  // width: 100%;
  // z-index: 33;
  
  // background-color: #28292f;
  .file-list-header{
    display: flex;
    height: 76px;
    border-bottom: 1px solid #CFD0D1;
    >div{
      flex: 1;
      height: 100%;
      border-radius: 12px;
      color: #8c8c93;;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        display: inline-block;
        font-weight:400;
      }
    }
    .active{
      span{
        font-weight:600;
        color: #141415;
      }
    }
  }
  .file-upload{
    // display: flex;
    // justify-content: center;
    padding:1rem ;
    button{
      width:118px;
      height:36px;
      background:linear-gradient(270deg,rgba(164,167,255,1) 0%,rgba(134,173,253,1) 100%);
      border-radius:4px;
      color: white;
    }
  }
  .file-list-main{
    margin: 20px;
    .file-list-item-wrap{
      .file-list-item{
        padding-top: 14px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        >span{
          // color: white;
        }
      }
      .active{
        >span{
          // color: red;
        }
      }
    }
  }
}